<h1>List of VMs</h1>
<div id='virt'>
<table>
	<tr>
		<th>Name</th>
		<th>State</th>
		<th>Memory</th>
		<th>CPU Time</th>
		<th>Control</th>
	</tr>


<% @list.each do | vm | %>
	<tr>
		<td><%= vm[:name] %></td>
		<td><span class="stateDisplay state<%= state(vm[:state])[:class]%>" title="<%= state(vm[:state])[:name] %>"></span></td>
		<td><%= vm[:memory] %></td>
		<td><%= vm[:cpu_time]/100000000 %></td>
		
		<td><% capabilities(vm[:state]).each do | item | %>
			<%= link_to item[:name], 
				{:action => 'command', :command => item[:command], :name => vm[:name] }, 
				:class => "controlButton button"+item[:name] %>
		<% end %>
		</td>
	</tr>
<% end %>
</table>
